<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="tister">
	<listeners>
		<listener class-name="com.swag_labs.utilities.ExtendListnerClass"></listener>
	</listeners>
  <test  name="listner">
    <classes>
      <class name="com.swag_labs.testcase.login_page_test"/>
    </classes>
  </test> <!-- listner -->
</suite> <!-- tister -->
